:root{
    --primary-color: #08c477;
    --main-text-color: rgb(218, 216, 216);
    --main-modal-bg: #18181b;
}

.main-app{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.main-logo{
    padding-top: 3rem;
    width: 250px;
}

.p-terms{
    font-weight: 300;
    font-size: 13px;
}

.modal-title{
    font-weight: 400;
    
}